/* responsividade */

@media screen and (max-width: 1440px) {
    .containerHeader {
        max-width: 1200px;
    }

    header ul {
        gap: 60px;
    }

    .home {
        margin-top: 10px;
    }

    .homeAgrupado {
        flex-wrap: wrap;
        gap: 10px;
    }

    .imagemHome {
        width: 500px;
        padding: 20px;
    }


    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetos  .projetosAgrupado {
        gap: 40px;
        flex-wrap: wrap;
    }

    .projetos  .projetosAgrupado .cardProjeto {
        width: 380px;
        height: 650px;
    }

    .imagemProjeto {
        width: 380px;
    }

    /* modal */
    .modalProjetosConteudo {
        max-width: 1200px;

    }

    /* tecnologias */

    .tecnologias ul {
        gap: 4em;
        flex-wrap: wrap;
    }

    /* about me */
    .aboutMe {
        padding: 20px 40px;
    }

    .aboutMeAgrupado {
        padding: 50px;
        gap: 1em;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 1800px;
    }

    /* contato */
    .contato img {
        width: 500px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .contatoAgrupado{
flex-wrap: wrap;
    }




}

@media screen and (max-width: 1024px) {
body {
        background: linear-gradient(var(--background2)0%, var(--background)6%, var(--background)100%);
    }
    /* header */
    .containerHeader {
        max-width: 950px;
    }

    .nome-header {
        font-size: 30px;
    }

    .menu-icons ul {
        gap: 40px;
        
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

    /* home */

    .home {
        margin-top: 20px;
    }

    .homeAgrupado {
        gap: 5px;
    }

    .imagemHome {
        width: 400px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 65px;
    }

    .textoHomeAgrupado h2 {
        font-size: 50px;
    }

    .textoHomeAgrupado h3 {
        font-size: 30px;
        margin-left: 5px;
    }

    .textoHomeAgrupado p {
        font-size: 25px;
    }

    .home .destaqueHome {
        font-size: 25px;
        padding: 0 80px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetosAgrupado {
        gap: 20px;
        flex-direction: column;
    }

    .cardProjeto {
        width: 800px;
        height: auto;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 400px;
    }

    .projetos h1 {
        font-size: 50px;
    }

    .subProjetoh2 {
        font-size: 25px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 1200px;

    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 800px;
        height: 500px;
        overflow-y: auto;

    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* tecnologias */

    .tecnologias{
        padding: 40px;
    }

    .tecnologias .skillTitulo {
        font-size: 60px;
    }

    .tecnologias ul {
        gap: 2.5em;
        flex-wrap: wrap;
    }

    .tecnologias ul svg {
        width: 70px;
    }

    /* about Me */
    .aboutMe {
        padding: 30px;
    }

    .aboutMeAgrupado {
        align-items: center;
        text-align: center;
        padding: 50px;
        flex-direction: column;
    }

    .aboutMe .aboutMeAgrupado img{
        width: 600px;
    }

    .aboutMe h1{
        font-size: 70px;
        margin-bottom: 25px;
    }

    .aboutMe .aboutMeAgrupado p{
        font-size: 30px;
    }

    

    /* contato */

    .contatoH1 {
        font-size: 60px;
    }

    .contatoH2 {
        font-size: 25px;
    }

    .contato img {
        width: 350px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 550px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 60%, #cbc5f800 100%);
    }

    .contatoAgrupado {
        gap: 1em;
        
    }




}

@media screen and (max-width: 768px) {
body {
        background: linear-gradient(var(--background2)0%, var(--background)4%, var(--background)100%);
    }
    /* header */
    .containerHeader {
        max-width: 700px;
        justify-content: space-around;
        gap: 2em;
    }

    .nome-header {
        font-size: 30px;
        text-align: left;
    }

    .menu-icons ul {
        gap: 40px;
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

    /* menu lateral */


    .containerHeader nav {
        display: none;
    }


    .containerHeader .menu-toggle ul li a {
        margin-bottom: 8px;
        text-decoration: none;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle ul li {
        margin-bottom: 20px;
        transition: 0.5s;
    }

    .containerHeader .menu-toggle ul li:hover {
        transform: scale(1.08);

    }


    .button-menu-toggle {
        display: flex;
        position: relative;
        border: none;
        border-radius: 10px;
        background-color: var(--corHeader);
        width: 45px;
        height: auto;
    }


    .containerHeader .menu-toggle ul li::before {
        content: "▸";
        margin-right: 15px;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;

        border-radius: 0 0 1000px 0;
        width: 310px;
        height: 320px;
        backdrop-filter: blur(5px);
        border-right: solid 10px var(--borderProjetos);
        background: var(--corFundoCardProjetos);

        color: var(--corLetra);
        font-size: 30px;
        font-weight: 500;

        transform: translateX(-100%) translateY(-100%);
        transition: transform 0.3s ease;

        padding: 80px 50px;

        z-index: 1001;
    }

    .menu-toggle.ativo {
        transform: translateX(0) translateY(0);
        backdrop-filter: blur(10px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        opacity: 0;
        visibility: hidden;

        transition: 0.3s;
        z-index: 1000;
    }

    .overlay.ativo {
        opacity: 1;
        visibility: visible;
    }

    /* home */

    .home {
        margin-top: 20px;
    }

    .homeAgrupado {
        gap: 5px;
    }

    .imagemHome {
        width: 300px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 50px;
    }

    .textoHomeAgrupado h2 {
        font-size: 40px;
    }

    .textoHomeAgrupado h3 {
        font-size: 25px;
        margin-left: 5px;

    }

    .textoHomeAgrupado p {
        font-size: 20px;
    }

    .home .destaqueHome {
        font-size: 20px;
        padding: 0 30px;
    }

    .iconsHome ul {
        gap: 1em;
    }

    .iconsHome ul svg {
        width: 70px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetos .projetosAgrupado {
        gap: 20px;
        flex-direction: column;
    }

    .projetos .projetosAgrupado .cardProjeto {
        width: 550px;
        height: auto;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 550px;
    }

    .projetos h1 {
        font-size: 50px;
    }

    .subProjetoh2 {
        font-size: 25px;
    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 600px;
        height: 500px;
        overflow-y: auto;

    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }



    /* tecnologias */

    .tecnologias {
        padding: 40px;
    }

    .tecnologias .skillTitulo {
        font-size: 50px;
    }

    .tecnologias ul {
        gap: 1.5em;
        flex-wrap: wrap;
    }

    .tecnologias ul svg {
        width: 50px;
    }

    /* about Me */
    .aboutMe {
        padding: 30px;
    }

    .aboutMeAgrupado {
        padding: 50px;
        flex-direction: column;

    }

    .aboutMe .aboutMeAgrupado img {
        width: 500px;
    }

    .aboutMe h1 {
        text-align: center;
    }

    /* contato */

    .contatoH1 {
        font-size: 60px;
    }

    .contatoH2 {
        font-size: 25px;
    }

    .contato img {
        width: 500px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 650px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 50%, #cbc5f800 100%);
    }

    .contato h3 {
        text-align: center;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

    /* Footer */

    footer {
        background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
    }

    footer img {
        width: 120px;
    }

    footer .footerAgrupado h1 {
        font-size: 28px;
    }

    footer .footerAgrupado p {
        font-size: 18px;
    }

}

@media screen and (max-width: 660px) {
    
/* home */

    .home {
        margin-top: 30px;
    }

    .homeAgrupado {
        align-items: center;
        text-align: center;
        gap: 5px;
        flex-direction: column;
    }

    .imagemHome {
        width: 200px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 45px;
    }

    .textoHomeAgrupado h2 {
        font-size: 30px;
    }

    .textoHomeAgrupado h3 {
        margin-left: 0;
        font-size: 25px;


    }

    .textoHomeAgrupado p {
        margin-left: 0;
        font-size: 20px;
    }

    .home .destaqueHome {
        font-size: 20px;
        padding: 0 10px;
    }

    .iconsHome {
        align-items: center;
    }

    .iconsHome ul {
        gap: 2.5em;
    }

    .iconsHome ul svg {
        width: 70px;
    }


    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetos .projetosAgrupado {
        gap: 10px;
        flex-direction: column;
    }

    .projetos .projetosAgrupado .cardProjeto {
        width: 450px;
        height: auto;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 340px;
    }

    .projetos h1 {
        font-size: 35px;
    }

    .subProjetoh2 {
        font-size: 20px;
    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 70%;
        height: 600px;
        overflow-y: auto;

    }

    .modalProjetosConteudo h1 {
        font-size: 40px;
    }

    .modalProjetosConteudo h2 {
        font-size: 20px;
    }

    .modalProjetosConteudo h3 {
        font-size: 20px;
    }

    .modalProjetosConteudo p {
        font-size: 15px;
    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* tecnologias */

    .tecnologias {
        padding: 20px;

    }

    .tecnologias .skillTitulo {
        font-size: 50px;
    }

    .tecnologias ul {
        gap: 2em;
        flex-wrap: wrap;

    }

    .tecnologias ul svg {
        width: 50px;

    }

    /* about Me */
    .aboutMe {
        padding: 20px;
    }

    .aboutMeAgrupado {
        padding: 30px;
        flex-direction: column;

    }

    .aboutMe .aboutMeAgrupado h1 {
        font-size: 50px;
    }

    .aboutMe .aboutMeAgrupado p {
        font-size: 23px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 400px;
    }

    /* contato */

    .contatoH1 {
        font-size: 50px;
    }

    .contatoH2 {
        font-size: 20px;
    }

    .contato img {
        width: 400px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 500px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 100%);
    }

    .contato h3 {
        text-align: center;
        font-size: 25px;
    }

    .cardContato svg {
        width: 40px;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

    .cardContato h1 {
        font-size: 17px;
    }

    .cardContato h2 {
        font-size: 16px;
    }

    /* Footer */

    footer {
        flex-direction: column;
        background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
    }

    footer img {
        width: 130px;
    }

    footer .footerAgrupado h1 {
        font-size: 25px;
    }

    footer .footerAgrupado p {
        font-size: 18px;
    }

    .footerAgrupado {
        padding: 10px;

    }

}

@media screen and (max-width: 490px) {
    body {
        background: linear-gradient(var(--background2)0%, var(--background)6%, var(--background)100%);
    }


    /* header */
    .containerHeader {
        max-width: 500px;
        padding: 10px 0;
        justify-content: space-around;
        gap: 1em;
    }

    .nome-header {
        font-size: 25px;
        text-align: left;
    }


    .btn-tema {
        width: 40px;
        height: 40px;
    }

    /* menu lateral */


    .containerHeader nav {
        display: none;
    }


    .containerHeader .menu-toggle ul li a {
        margin-bottom: 8px;
        text-decoration: none;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle ul li {
        margin-bottom: 15px;
        transition: 0.5s;
    }

    .containerHeader .menu-toggle ul li:hover {
        transform: scale(1.08);

    }


    .button-menu-toggle {
        display: flex;
        position: relative;
        border: none;
        background-color: var(--corHeader);
        width: 45px;
        height: auto;
        border-radius: 10px;
    }


    .containerHeader .menu-toggle ul li::before {
        content: "▸";
        margin-right: 10px;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;

        border-radius: 0 0 1000px 0;
        width: 210px;
        height: 220px;
        backdrop-filter: blur(5px);
        border-right: solid 10px var(--borderProjetos);
        background: var(--corFundoCardProjetos);

        color: var(--corLetra);
        font-size: 25px;
        font-weight: 500;

        transform: translateX(-100%) translateY(-100%);
        transition: transform 0.3s ease;

        padding: 60px 30px;

        z-index: 1001;
    }

    .menu-toggle.ativo {
        transform: translateX(0) translateY(0);
        backdrop-filter: blur(10px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        opacity: 0;
        visibility: hidden;

        transition: 0.3s;
        z-index: 1000;
    }

    .overlay.ativo {
        opacity: 1;
        visibility: visible;
    }

    /* home */

    .home {
        margin-top: 30px;
    }

    .homeAgrupado {
        align-items: center;
        text-align: center;
        gap: 5px;
        flex-direction: column;
    }

    .imagemHome {
        width: 200px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 33px;
    }

    .textoHomeAgrupado h2 {
        font-size: 25px;
    }

    .textoHomeAgrupado h3 {
        margin-left: 0;
        font-size: 18px;


    }

    .textoHomeAgrupado p {
        margin-left: 0;
        font-size: 15px;
    }

    .home .destaqueHome {
        font-size: 15px;
        padding: 0 10px;
    }

    .iconsHome {
        align-items: center;
    }

    .iconsHome ul {
        gap: 1.5em;
    }

    .iconsHome ul svg {
        width: 60px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetos .projetosAgrupado {
        gap: 10px;
        flex-direction: column;
    }

    .projetos .projetosAgrupado .cardProjeto {
        width: 340px;
        height: auto;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 340px;
    }

    .projetos h1 {
        font-size: 35px;
    }

    .subProjetoh2 {
        font-size: 20px;
    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 70%;
        height: 600px;
        overflow-y: auto;

    }

    .modalProjetosConteudo h1 {
        font-size: 40px;
    }

    .modalProjetosConteudo h2 {
        font-size: 20px;
    }

    .modalProjetosConteudo h3 {
        font-size: 20px;
    }

    .modalProjetosConteudo p {
        font-size: 15px;
    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* tecnologias */

    .tecnologias {
        padding: 20px;

    }

    .tecnologias .skillTitulo {
        font-size: 50px;
    }

    .tecnologias ul {
        gap: 2em;
        flex-wrap: wrap;

    }

    .tecnologias ul svg {
        width: 50px;

    }

    /* about Me */
    .aboutMe {
        padding: 20px;
    }

    .aboutMeAgrupado {
        padding: 30px;
        flex-direction: column;

    }

    .aboutMe .aboutMeAgrupado h1 {
        font-size: 50px;
    }

    .aboutMe .aboutMeAgrupado p {
        font-size: 23px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 400px;
    }

    /* contato */

    .contatoH1 {
        font-size: 50px;
    }

    .contatoH2 {
        font-size: 20px;
    }

    .contato img {
        width: 400px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 390px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 100%);
    }

    .contato h3 {
        text-align: center;
        font-size: 25px;
    }

    .cardContato svg {
        width: 40px;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

    .cardContato h1 {
        font-size: 17px;
    }

    .cardContato h2 {
        font-size: 16px;
    }

    /* Footer */

    footer {
        flex-direction: column;
        background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
    }

    footer img {
        width: 130px;
    }

    footer .footerAgrupado h1 {
        font-size: 25px;
    }

    footer .footerAgrupado p {
        font-size: 18px;
    }

    .footerAgrupado {
        padding: 10px;

    }

}

@media screen and (max-width: 440px) {

    /* header */
    .containerHeader {
        max-width: 350px;
        padding: 10px 0;
        justify-content: space-between;
        gap: 1em;
    }

    .nome-header {
        font-size: 25px;
        text-align: left;
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

/* menu lateral */


    .containerHeader nav {
        display: none;
    }


    .containerHeader .menu-toggle ul li a {
        margin-bottom: 8px;
        text-decoration: none;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle ul li {
        margin-bottom: 15px;
        transition: 0.5s;
    }

    .containerHeader .menu-toggle ul li:hover {
        transform: scale(1.08);

    }


    .button-menu-toggle {
        display: flex;
        position: relative;
        border: none;
        background-color: var(--corHeader);
        width: 45px;
        height: auto;
        border-radius: 10px;
    }


    .containerHeader .menu-toggle ul li::before {
        content: "▸";
        margin-right: 10px;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;

        border-radius: 0 0 1000px 0;
        width: 210px;
        height: 220px;
        backdrop-filter: blur(5px);
        border-right: solid 10px var(--borderProjetos);
        background: var(--corFundoCardProjetos);

        color: var(--corLetra);
        font-size: 25px;
        font-weight: 500;

        transform: translateX(-100%) translateY(-100%);
        transition: transform 0.3s ease;

        padding: 60px 30px;

        z-index: 1001;
    }

    .menu-toggle.ativo {
        transform: translateX(0) translateY(0);
        backdrop-filter: blur(10px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        opacity: 0;
        visibility: hidden;

        transition: 0.3s;
        z-index: 1000;
    }

    .overlay.ativo {
        opacity: 1;
        visibility: visible;
    }

    /* home */

    .home {
        margin-top: 30px;
    }

    .homeAgrupado {
        align-items: center;
        text-align: center;
        gap: 5px;
        flex-direction: column;
    }

    .imagemHome {
        width: 200px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 33px;
    }

    .textoHomeAgrupado h2 {
        font-size: 25px;
    }

    .textoHomeAgrupado h3 {
        margin-left: 0;
        font-size: 18px;


    }

    .textoHomeAgrupado p {
        margin-left: 0;
        font-size: 15px;
    }

    .home .destaqueHome {
        font-size: 15px;
        padding: 0 10px;
    }

    .iconsHome {
        align-items: center;
    }

    .iconsHome ul {
        gap: 1em;
    }

    .iconsHome ul svg {
        width: 60px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetos .projetosAgrupado {
        gap: 5px;
        flex-direction: column;
    }

    .projetos .projetosAgrupado .cardProjeto {
        width: 300px;
        height: auto;
        justify-content: flex-start;

    }

    .skillsProjetoAgrupado {
        gap: 2px;
    }

    .imagemProjeto {
        width: 290px;
    }

    .projetos h1 {
        font-size: 25px;
    }

    .subProjetoh2 {
        font-size: 20px;
    }

    .projetos .cardProjeto h1 {
        font-size: 25px;
    }

    .projetos .cardProjeto p {
        font-size: 18px;
    }

    .skillsProjeto {
        width: 70px;
        font-size: 13px;
    }

    /* modal */
    .modalProjetosConteudo {
        max-width: 70%;
        height: 600px;
        overflow-y: auto;

    }

    .modalProjetosConteudo h1 {
        font-size: 40px;
    }

    .modalProjetosConteudo h2 {
        font-size: 20px;
    }

    .modalProjetosConteudo h3 {
        font-size: 20px;
    }

    .modalProjetosConteudo p {
        font-size: 15px;
    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* tecnologias */

    .tecnologias {
        padding: 30px;

    }

    .tecnologias .skillTitulo {
        font-size: 50px;
    }

    .tecnologias ul {
        gap: 3em;
        flex-wrap: wrap;

    }

    .tecnologias ul svg {
        width: 50px;

    }
    /* modal */
    .modalProjetosConteudo {
        max-width: 70%;
        height: 600px;
        overflow-y: auto;

    }

    .modalProjetosConteudo h1 {
        font-size: 40px;
    }

    .modalProjetosConteudo h2 {
        font-size: 20px;
    }

    .modalProjetosConteudo h3 {
        font-size: 20px;
    }

    .modalProjetosConteudo p {
        font-size: 15px;
    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* tecnologias */

    .tecnologias {
        padding: 40px 30px;

    }

    .tecnologias .skillTitulo {
        font-size: 50px;
    }

    .tecnologias ul {
        gap: 2em;
        flex-wrap: wrap;

    }

    .tecnologias ul svg {
        width: 50px;

    }

    /* about Me */
    .aboutMe {
        padding: 20px;
    }

    .aboutMeAgrupado {
        padding: 30px;
        flex-direction: column;

    }

    .aboutMe h1 {
        font-size: 50px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 330px;
    }

    /* contato */

    .contatoH1 {
        font-size: 50px;
    }

    .contatoH2 {
        font-size: 20px;
    }

    .contato img {
        width: 330px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 350px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 100%);
    }

    .contato h3 {
        text-align: center;
        font-size: 25px;
    }

    .cardContato svg {
        width: 40px;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

    .cardContato h1 {
        font-size: 16px;
    }

    .cardContato h2 {
        font-size: 15px;
    }

    /* Footer */

    footer {
        flex-direction: column;
        background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
    }

    footer img {
        width: 130px;
    }

    footer .footerAgrupado h1 {
        font-size: 25px;
    }

    footer .footerAgrupado p {
        font-size: 18px;
    }

    .footerAgrupado {
        padding: 5px;

    }

}

@media screen and (max-width: 420px) {

    .projetos .projetosAgrupado .cardProjeto {
        width: 290px;
        height: auto;
        justify-content: flex-start;

    }

.cardContato {
        width: 340px;
    }

    .cardContato svg {
        width: 30px;
    }
}


    @media screen and (max-width: 380px) {
        body {
            background: linear-gradient(var(--background2)0%, var(--background)3%, var(--background)100%);
        }
    

    /* header */

    .containerHeader {
        max-width: 300px;
        padding: 10px 0;
        justify-content: space-around;
        gap: 1px;
    }

    .nome-header {
        font-size: 20px;
        text-align: left;
    }

    header ul {
        gap: 10px;
    }

    .btn-tema {
        width: 30px;
        height: 30px;
    }


    /* menu lateral */


    .containerHeader nav {
        display: none;
    }


    .containerHeader .menu-toggle ul li a {
        margin-bottom: 8px;
        text-decoration: none;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle ul li {
        margin-bottom: 15px;
        transition: 0.5s;
    }

    .containerHeader .menu-toggle ul li:hover {
        transform: scale(1.08);

    }


    .button-menu-toggle {
        display: flex;
        position: relative;
        border: none;
        background-color: var(--corHeader);
        width: 40px;
        height: auto;
        border-radius: 10px;
    }


    .containerHeader .menu-toggle ul li::before {
        content: "▸";
        margin-right: 10px;
        color: var(--corLetra);
    }

    .containerHeader .menu-toggle {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;

        border-radius: 0 0 1000px 0;
        width: 210px;
        height: 220px;
        backdrop-filter: blur(5px);
        border-right: solid 10px var(--borderProjetos);
        background: var(--corFundoCardProjetos);

        color: var(--corLetra);
        font-size: 25px;
        font-weight: 500;

        transform: translateX(-100%) translateY(-100%);
        transition: transform 0.3s ease;

        padding: 60px 30px;

        z-index: 1001;
    }

    .menu-toggle.ativo {
        transform: translateX(0) translateY(0);
        backdrop-filter: blur(10px);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;

        opacity: 0;
        visibility: hidden;

        transition: 0.3s;
        z-index: 1000;
    }

    .overlay.ativo {
        opacity: 1;
        visibility: visible;
    }


    /* home */

    .home {
        margin-top: 30px;

    }

    .homeAgrupado {
        text-align: center;
        gap: 5px;
        flex-direction: column;
        align-items: center;

    }


    .imagemHome {
        width: 150px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 28px;
    }


    .textoHomeAgrupado h2 {
        font-size: 20px;
    }

    .textoHomeAgrupado h3 {
       
        margin-left: 0;
        font-size: 15px;
    }

    .textoHomeAgrupado p {
        margin-left: 0;
        font-size: 13px;
    }

    .home .destaqueHome {
    
        font-size: 15px;
        padding: 0 20px;
    }

    .iconsHome ul {
        gap: 1em;
    }

    .iconsHome ul svg {

        width: 50px;
    }

       /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetos .projetosAgrupado {
        gap: 5px;
        flex-direction: column;
    }

    .projetos .projetosAgrupado .cardProjeto {
        width: 225px;
        height: auto;
        justify-content: flex-start;

    }

    .skillsProjetoAgrupado {
        gap: 2px;
    }

    .imagemProjeto {
        width: 230px;
    }

    .projetos h1 {
        font-size: 25px;
    }

    .subProjetoh2 {
        font-size: 20px;
    }

    .projetos .cardProjeto h1 {
        font-size: 20px;
    }

    .projetos .cardProjeto p {
        font-size: 18px;
    }

    .skillsProjeto {
        width: 70px;
        font-size: 13px;
    }

    .buttonProjetos{
        font-size: 18px;
        padding: 6px 50px;
    }

/* tecnologias */

.tecnologias .skillTitulo {
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 600;
    color: var(--corLetra);
}

    .tecnologias {
        padding: 50px 25px;
    }


    .tecnologias .skill ul {
        gap: 1em;
        flex-wrap: wrap;
    }

    .tecnologias .skill svg {
        width: 40px;

    }

    /* about Me */
    .aboutMe {
        padding: 20px;
    }

    .aboutMeAgrupado {
        padding: 30px;
        flex-direction: column;

    }

    .aboutMe h1 {
        font-size: 50px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 290px;
    }

    /* contato */

    .contato{
        padding: 20px;
    }

.contato .contatoAgrupado .redesContato ul{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
}

.contato .contatoAgrupado .redesContato ul .cardContato{
    text-align: center;
}

    .contatoH1 {
        font-size: 50px;
    }

    .contatoH2 {
        font-size: 20px;
    }

    .contato img {
        width: 290px;
    }

    .aboutMe p {
        font-size: 20px;
    }


    .contatoAgrupado .cardContato {

        width: 300px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 100%);
    }
   

    .contato h3 {
        text-align: center;
        font-size: 25px;
    }

    .cardContato svg {
       display: none;
       align-items: center;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

    .contato .contatoAgrupado .cardContato h1 {
        margin-left: 15px;
        text-align: center;
        font-size: 14px;
    }

    .contato .contatoAgrupado .cardContato h2 {
        font-size: 14px;
        text-align: center;
    }



    /* Footer */

    footer {
        flex-direction: column;
        background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
    }

    footer img {
        width: 130px;
    }

    footer .footerAgrupado h1 {
        font-size: 25px;
    }

    footer .footerAgrupado p {
        font-size: 18px;
    }

    .footerAgrupado {
        padding: 5px;
    }
    }
