body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(var(--background2)0%, var(--background)10%, var(--background)100%);
    /* background-color: var(--background); */
    /* background: linear-gradient(var(--linearSkills2)0%,var(--linearSkills1)30%, var(--linearSkills1)70%, var(--linearSkills2)100%); */


}

* {
    transition: background-color 0.8s ease, color 0.8s ease;
}

html {
    scroll-behavior: smooth;
}

/* Universal */
.strongO {
    font-weight: 700;
    color: var(--strongO);
}

/* header */

header {

    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    background-color: var(--corHeader);
    box-shadow: 0 5px 20px 3px var(--sombra);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
    background: var(--fundoScroll);
    backdrop-filter: blur(5px);
}


.containerHeader {
    padding: 15px 0;
    max-width: 1700px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 34px;
    color: white;
    cursor: pointer;
}


.nome-header {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 35px;
    color: var(--branco);

}

header ul {
    justify-self: center;
    display: flex;
    gap: 80px;
    list-style: none;
    padding: 0;
    margin: 0;

}

header ul li {
    transition: 0.5s;
}

header ul li:hover {
    transform: translateY(-3px);
}

header svg {
    color: var(--strongH);
    width: 40px;
    height: auto;

}

.strongH {
    font-weight: 700;
    color: var(--strongH);
    margin-left: 10px;
}

.btn-tema {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--detalheTemaButton);
    background-color: var(--corHeader);
    box-shadow: 0 0px 20px 4px var(--sombraButtonTema);
    transition: 1s;
}


.btn-tema svg {
    color: var(--detalheTemaButton);
}

.btn-tema:hover {
    transform: scale(0.9);
}



/* Home */

.home {
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}

.home.active {
    opacity: 1;
    transform: translateY(0);
}

.homeAgrupado {
    gap: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemHome {
    padding: 30px;
    display: flex;
    width: 550px;
    height: auto;
}

.iconsHome {
    margin-top: 15px;

}

.iconsHome ul {
    display: flex;
    list-style: none;
    gap: 2em;

}

.iconsHome ul li {
    transition: 0.5s;
    filter: drop-shadow(1px 1px 1px var(--sombraButtonTema));

}

.iconsHome ul li:hover {
    transform: scale(1.08);

}


.iconsHome ul svg {
    list-style: none;
    color: var(--iconesHome);
    width: 90px;
    height: auto;
}

.textoHomeAgrupado {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textoHomeAgrupado h1 {

    color: var(--corLetra);
    font-weight: 400;
    font-size: 90px;
}

.textoHomeAgrupado h2 {
    color: var(--corLetra);
    font-weight: 400;
    font-size: 70px;
}

.textoHomeAgrupado h3 {
    color: var(--strongO);
    font-weight: 600;
    font-size: 40px;
    margin-left: 10px;
}

.textoHomeAgrupado p {
    color: var(--corLetra);
    font-size: 30px;
    margin-left: 10px;
}

.home .destaqueHome {
    font-weight: 700;
    color: var(--strongO);
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.skill2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip2 {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);

    border: solid 1px var(--borderButton);
    background-color: var(--fundoButton);
    color: var(--corLetra);
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    text-wrap: nowrap;


    box-shadow: 0 0px 6px 2px var(--sombraButtonTema);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.skill2:hover .tooltip2 {
    opacity: 1;
}

/* Projetos */

.projetos {
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}

.projetos.active {
    opacity: 1;
    transform: translateY(0);
}

.projetos h1 {
    text-align: center;
    padding: 10px;
    color: var(--corLetra);
    font-weight: 400;
    font-size: 70px;
}

.subProjetoh2 {
    font-weight: 500;
    color: var(--corLetra);
    font-size: 30px;
    text-align: center;
}

.skillsProjetoAgrupado {
    cursor: pointer;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.skills h1 {
    text-align: center;
    padding: 10px;
    color: var(--corLetra);
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 20px;

}

.skillsProjeto {
    padding: 5px;
    border-radius: 4px;
    width: 80px;
    height: auto;
    border: solid 2px var(--borderProjetos);
    background-color: var(--fundoBotãoProjetos);
    color: var(--corLetraCard);
    transition: 0.5s;
}

.skillsProjeto:hover {
    transform: translateY(-3px);
}



.projetosAgrupado {
    gap: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardProjeto {
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    text-align: center;
    border: solid 2px var(--borderProjetos);
    background: var(--corFundoCardProjetos);
    width: 400px;
    height: 630px;
    box-shadow: 3px 3px 3px 1px var(--sombra);
    transition: 0.5s;
    flex-direction: column;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.projetos.active .cardProjeto:nth-child(1) {
    transition-delay: 0.1s;
}

.projetos.active .cardProjeto:nth-child(2) {
    transition-delay: 0.2s;
}

.projetos.active .cardProjeto:nth-child(3) {
    transition-delay: 0.3s;
}

.projetos.active .cardProjeto {
    opacity: 1;
    transform: translateY(0);
}

.cardProjeto:hover {
    box-shadow: 0 0px 10px 5px var(--sombraButtonTema);
    transform: scale(1.03);
}

.imagemProjeto {
    border-radius: 8px;
    border: solid 2px var(--borderProjetos);
    width: 400px;
    height: auto;
    margin-bottom: 5px;
    filter: opacity(92%);
}


.projetos .cardProjeto h1 {
    color: var(--corLetra);
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 10px;
}

.projetos .cardProjeto p {
    color: var(--corLetra);
    font-weight: 500;
    font-size: 20px;
}

.buttonProjetos {
    cursor: pointer;
    display: flex;
    padding: 4px 80px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: solid 1px var(--borderButton);
    background-color: var(--fundoButton);
    color: var(--corLetra);
    transition: 0.5s;
    gap: 8px;
    text-align: center;
    text-decoration: none;
}

.buttonProjetos:hover {
    transform: scale(1.02);
    box-shadow: 0 0px 20px 4px var(--sombraButtonTema);
    background-color: var(--borderProjetos);
}



.buttonProjetos svg {
    display: block;
    color: var(--corLetra);
    width: 25px;
    height: auto;
    transition: 1.5s;
}

/* modal */

.modalProjetos {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease;
    pointer-events: none;
}



.modalProjetos.ativo {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}



.modalProjetosConteudo {

    border: solid 5px var(--bordaModal);
    background: linear-gradient(-40deg,
            var(--backgroundModal1) 0%,
            var(--backgroundModal1) 40%,
            var(--backgroundModal2) 60%,
            var(--backgroundModal2) 100%);
    padding: 40px;
    border-radius: 8px;
    max-width: 70%;
    width: 90%;
    height: auto;
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.modalProjetos.ativo .modalProjetosConteudo {
    transform: scale(1);
    opacity: 1;
}

.modalProjetosConteudo h1 {
    font-size: 50px;
    text-align: center;

}

.modalProjetosConteudo h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--corLetra);
}

.modalProjetosConteudo h3 {
    font-size: 25px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--strongO);
}

.modalProjetosConteudo p {
    margin-left: 8px;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--corLetra);
}

.buttonModalProjetos {
    padding: 8px 80px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
    border: solid 2px var(--borderButton);
    background-color: var(--fundoButton);
    gap: 8px;
    color: var(--corLetra);
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.buttonModalProjetosAgrupado button {
    padding: 8px 80px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: solid 2px var(--borderProjetos);
    background-color: var(--fundoBotãoProjetos);
    color: var(--corLetraCard);
    gap: 8px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}

.buttonModalProjetos:hover,
.buttonModalProjetosAgrupado button:hover {
    transform: scale(1.03);
    box-shadow: 0 0px 10px 2px var(--sombraButtonTema);
}

.buttonModalProjetosAgrupado {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
}







/* About me */

.aboutMe {
    padding: 0px 60px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.aboutMe.active {
    opacity: 1;
    transform: translateY(0);
}

.aboutMeAgrupado {

    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe h1 {
    margin-bottom: 10px;
    font-size: 60px;
    color: var(--corLetra);
}

.aboutMe p {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--corLetra);
    font-size: 25px;
}

.aboutMe span {
    font-weight: 500;
    color: var(--strongO);
}

.aboutMe h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: var(--strongO);
    font-size: 25px;
    text-align: center;
}



.aboutMe .aboutMeAgrupado img {
    width: 1500px;
    height: auto;
}



/* Skills */

.skills {
    background: linear-gradient(150deg, var(--linearSkills2), var(--linearSkills1));
    padding: 35px 0px;
    box-shadow: 0 0px 20px 10px var(--sombraButtonTema);

    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;

}

.skills.active {
    opacity: 1;
    transform: translateY(0);
}

.skills .skillTitulo {
    margin-bottom: 25px;
    font-size: 70px;
    font-weight: 600;
    color: var(--corLetra);
}

.skills ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5em;
}

.skills ul svg {
    cursor: pointer;
    width: 90px;
    height: auto;
    color: var(--corSkills);
    transition: 0.5s;
}



.skills ul svg:hover {
    transform: translateY(-5px);
    filter: drop-shadow(4px 4px 4px var(--sombraButtonTema));
}

.skills ul svg .insideColor {
    color: var(--corSegundaria);
}

.skills ul svg .insideColor2 {
    color: var(--background);
}

.skills ul svg .insideColor3 {
    color: var(--insideColor3);
}

.skill {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);

    border: solid 1px var(--borderButton);
    background-color: var(--fundoButton);
    color: var(--corLetra);
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 15px;

    box-shadow: 0 0px 6px 2px var(--sombraButtonTema);
    opacity: 0;
    pointer-events: none;
    transition: 0.2s ease;
}

.skill:hover .tooltip {
    opacity: 1;
}

/* Jornada */


/* Contato */
.contato {
    padding: 30px;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.contato.active {
    opacity: 1;
    transform: translateY(0);
}

.contatoAgrupado {
    gap: 5em;
    justify-content: center;
    align-items: center;
    display: flex;

}


.contatoH1 {
    text-align: center;
    padding: 10px;
    color: var(--corLetra);
    font-weight: 400;
    font-size: 70px;
}

.contatoH2 {
    margin-bottom: 40px;
    font-weight: 500;
    color: var(--corLetra);
    font-size: 35px;
    text-align: center;
}

.contato h3 {
    margin-bottom: 20px;
    font-weight: 500;
    color: var(--corLetra);
    font-size: 35px;
}

.cardContato {
    display: flex;
    border-radius: 5px;
    align-items: center;
    width: 700px;
    height: 70px;
    background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 40%, #cbc5f800 100%);
    margin-bottom: 18px;


    opacity: 0;
    transform: translateX(-30px);
    transition: all 0.2s ease;
}

.contato.active .cardContato {
    opacity: 1;
    transform: translateX(0);
}

.contato.active .cardContato:nth-child(1) {
    transition-delay: 0.1s;
}

.contato.active .cardContato:nth-child(2) {
    transition-delay: 0.1s;
}

.contato.active .cardContato:nth-child(3) {
    transition-delay: 0.1s;
}

.contato.active .cardContato:nth-child(4) {
    transition-delay: 0.1s;
}

.contatoAgrupado a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-decoration: none;
}

.cardContato:hover {
    transform: translateY(-3px);
    background: var(--backgroundLinkContato);
    box-shadow: 0 0px 0px 8px var(--sombraButtonTema);

}

.cardContato svg {
    margin-left: 10px;
    align-items: left;
    width: 70px;
    height: auto;
    color: var(--svgLinkContato);
}

.cardContato h1 {
    margin-left: 5px;
    font-weight: 800;
    font-size: 20px;
    color: var(--textoLinkContato);
}

.cardContato h2 {
    margin-left: 5px;
    font-weight: 400;
    font-size: 18px;
    color: var(--textoLinkContato);
}

.contato img {
    width: 550px;
    height: auto;
}



/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--backgroundFooter3), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
    padding: 1em;
    box-shadow: 0 -5px 20px 3px var(--sombra);
}

footer img {
    width: 150px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;

}

.footerAgrupado {
    text-align: center;

}

footer .footerAgrupado h1 {
    margin-bottom: 10px;
    color: var(--corLetra);
    font-weight: 600;
    font-size: 30px;
}

footer .footerAgrupado p {
    margin-bottom: 5px;
    color: var(--corLetra);
    font-size: 18px;
    margin-left: 10px;
}




/* cores tema */

:root {
    --roxoE: #7C68FF;
    --roxoC: #C0B7FF;
    --preto: #000000;
    --cinza: #1B1B1B;
    --branco: #FFFF;
    --branquinho: #FEFEFE;
    --sombras: #06043451;
    --sombrass: #c1b7ff5c;
    --corIconeSkill: #1b1b1ba8;
    --azulEscuro: #09054a;
    --corFundoCardEscuro: #C0B7FF50;
    --corFundoCardClaro: #7C68FF50;
    --brancoOpaco: #ffffff2f;
    --roxoEscuroOpaco: #7C68FF80;
    --roxoEscuro: #3C3A49;
    --insideColors: #ded8fe;
}

.tema-escuro {
    --background: var(--cinza);
    --corHeader: var(--preto);
    --strongH: var(--roxoC);
    --strongO: var(--roxoC);
    --botao: var(--roxoC);
    --letrabotao: var(--preto);
    --textoHome: var(--branco);
    --textoHome2: var(--roxoC);
    --sombra: var(--sombrass);
    --corSkills: var(--roxoC);
    --corSegundaria: var(--corIconeSkill);
    --corLetra: var(--branco);
    --iconesHome: var(--branco);
    --borderProjetos: var(--roxoC);
    --corFundoCardProjetos: var(--corFundoCardEscuro);
    --corLetraCard: var(--roxoC);
    --fundoBotãoProjetos: var(--cinza);
    --borderButton: var(--roxoC);
    --fundoButton: var(--brancoOpaco);
    --backgrondTemaButton: var(--cinza);
    --detalheTemaButton: var(--roxoC);
    --sombraButtonTema: var(--roxoC);
    --backgroundLinkContato: var(--roxoC);
    --textoLinkContato: var(--cinza);
    --svgLinkContato: var(--cinza);
    --bordaLinkContato: var(--branco);
    --linearSkills1: var(--preto);
    --linearSkills2: var(--roxoEscuro);
    --background2: var(--roxoEscuro);
    --backgroundModal1: var(--roxoEscuro);
    --backgroundModal2: var(--cinza);
    --bordaModal: var(--roxoC);
    --fundoScroll: var(--corIconeSkill);
    --insideColor3: var(--cinza);
    --backgroundFooter: var(--roxoC);
    --backgroundFooter2: var(--cinza);
    --backgroundFooter3: var(--preto);
}

.tema-claro {
    --background: var(--branquinho);
    --corHeader: var(--roxoE);
    --strongH: var(--branco);
    --strongO: var(--roxoE);
    --botao: var(--branco);
    --letrabotao: var(--roxoE);
    --textoHome: var(--roxoE);
    --textoHome2: var(--roxoE);
    --sombra: var(--sombras);
    --corSkills: var(--azulEscuro);
    --corSegundaria: var(--roxoC);
    --corLetra: var(--azulEscuro);
    --iconesHome: var(--azulEscuro);
    --borderProjetos: var(--roxoE);
    --corFundoCardProjetos: var(--corFundoCardClaro);
    --corLetraCard: var(--branco);
    --fundoBotãoProjetos: var(--azulEscuro);
    --borderButton: var(--azulEscuro);
    --fundoButton: var(--roxoEscuroOpaco);


    --detalheTemaButton: var(--branco);
    --backgroundLinkContato: var(--roxoE);
    --textoLinkContato: var(--branco);
    --svgLinkContato: var(--branco);
    --bordaLinkContato: var(--azulEscuro);
    --sombraButtonTema: var(--roxoE);
    --linearSkills1: var(--branquinho);
    --linearSkills2: var(--roxoC);
    --background2: var(--roxoE);
    --backgroundModal1: var(--roxoC);
    --backgroundModal2: var(--background);
    --bordaModal: var(--roxoE);
    --fundoScroll: var(--roxoEscuroOpaco);
    --insideColor3: var(--insideColors);
    --backgroundFooter: var(--roxoC);
    --backgroundFooter2: var(--roxoE);
    --backgroundFooter3: var(--azulEscuro);
}

/* responsividade */

@media screen and (max-width: 1440px) {
    .containerHeader {
        max-width: 1200px;
    }

    header ul {
        gap: 60px;
    }

    .home {
        margin-top: 10px;
    }

    .homeAgrupado {
        gap: 10px;
    }

    .imagemHome {
        width: 500px;
        padding: 20px;
    }


    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetosAgrupado {
        gap: 40px;
    }

    .cardProjeto {
        width: 380px;
        height: 650px;
    }

    .imagemProjeto {
        width: 380px;
    }

    /* modal */
    .modalProjetosConteudo {
        max-width: 1200px;

    }

    /* skills */

    .skills ul {
        gap: 4em;
    }

    /* about me */
    .aboutMe {
        padding: 20px 40px;
    }

    .aboutMeAgrupado {
        padding: 50px;
        gap: 1em;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 1800px;
    }

    /* contato */
    .contato img {
        width: 500px;
    }

    .aboutMe p {
        font-size: 20px;
    }

 


}

@media screen and (max-width: 1024px) {

    /* header */
    .containerHeader {
        max-width: 950px;
    }

    .nome-header {
        font-size: 30px;
    }

    header ul {
        gap: 40px;
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

    /* home */

    .home {
        margin-top: 20px;
    }

    .homeAgrupado {
        gap: 5px;
    }

    .imagemHome {
        width: 400px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 65px;
    }

    .textoHomeAgrupado h2 {
        font-size: 50px;
    }

    .textoHomeAgrupado h3 {
        font-size: 30px;
        margin-left: 5px;
    }

    .textoHomeAgrupado p {
        font-size: 25px;
    }

    .home .destaqueHome {
        font-size: 25px;
        padding: 0 80px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetosAgrupado {
        gap: 20px;
        flex-direction: column;
    }

    .cardProjeto {
        width: 850px;
        height: 450px;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 350px;
    }

    .projetos h1 {
        font-size: 50px;
    }

    .subProjetoh2 {
        font-size: 25px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 1200px;

    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 800px;
        height: 500px;
        overflow-y: auto;

    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* skills */

    .skills .skillTitulo {
        font-size: 60px;
    }

    .skills ul {
        gap: 2.5em;
    }

    .skills ul svg {
        width: 70px;
    }

    /* about Me */
    .aboutMe {
        padding: 30px;
    }

    .aboutMeAgrupado {
        padding: 50px;

    }

    /* contato */

    .contatoH1 {
        font-size: 60px;
    }

    .contatoH2 {
        font-size: 25px;
    }

    .contato img {
        width: 350px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 550px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 60%, #cbc5f800 100%);
    }

    .contatoAgrupado {
        gap: 1em;
    }

  


}

@media screen and (max-width: 768px) {

    /* header */
    .containerHeader {
        max-width: 700px;
        justify-content: space-around;
        gap: 2em;
    }

    .nome-header {
        font-size: 30px;
        text-align: left;
    }

    header ul {
        gap: 40px;
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

    .containerHeader ul {
        display: none;
    }

    /* home */

    .home {
        margin-top: 20px;
    }

    .homeAgrupado {
        gap: 5px;
    }

    .imagemHome {
        width: 300px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 50px;
    }

    .textoHomeAgrupado h2 {
        font-size: 40px;
    }

    .textoHomeAgrupado h3 {
        font-size: 25px;
        margin-left: 5px;

    }

    .textoHomeAgrupado p {
        font-size: 20px;
    }

    .home .destaqueHome {
        font-size: 20px;
        padding: 0 30px;
    }

    .iconsHome ul {
        gap: 1em;
    }

    .iconsHome ul svg {
        width: 70px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetosAgrupado {
        gap: 20px;
        flex-direction: column;
    }

    .cardProjeto {
        width: 550px;
        height: 510px;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 350px;
    }

    .projetos h1 {
        font-size: 50px;
    }

    .subProjetoh2 {
        font-size: 25px;
    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 600px;
        height: 500px;
        overflow-y: auto;

    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* skills */

    .skills {
        padding: 20px 0px;
    }

    .skills .skillTitulo {
        font-size: 50px;
    }

    .skills ul {
        gap: 2em;
    }

    .skills ul svg {
        width: 50px;
    }

    /* about Me */
    .aboutMe {
        padding: 30px;
    }

    .aboutMeAgrupado {
        padding: 50px;
        flex-direction: column;

    }

    .aboutMe .aboutMeAgrupado img {
        width: 500px;
    }

    .aboutMe h1 {
        text-align: center;
    }

    /* contato */

    .contatoH1 {
        font-size: 60px;
    }

    .contatoH2 {
        font-size: 25px;
    }

    .contato img {
        width: 400px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 650px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 50%, #cbc5f800 100%);
    }

    .contato h3{
        text-align: center;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

     /* Footer */

     footer{
            background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
     }

     footer img {
    width: 120px;
     }

     footer .footerAgrupado h1{
        font-size: 28px;
     }

     footer .footerAgrupado p{
        font-size: 18px;
     }

}

@media screen and (max-width: 480px) {

    /* header */
    .containerHeader {
        max-width: 500px;
        padding: 10px 0;
        justify-content: space-around;
        gap: 1em;
    }

    .nome-header {
        font-size: 25px;
        text-align: left;
    }

    header ul {
        gap: 40px;
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

    .containerHeader ul {
        display: none;
    }

    /* home */

    .home {
        margin-top: 30px;
    }

    .homeAgrupado {
        gap: 5px;
    }

    .imagemHome {
        width: 200px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 33px;
    }

    .textoHomeAgrupado h2 {
        font-size: 25px;
    }

    .textoHomeAgrupado h3 {
        margin-left: 0;
        font-size: 18px;


    }

    .textoHomeAgrupado p {
        margin-left: 0;
        font-size: 15px;
    }

    .home .destaqueHome {
        font-size: 15px;
        padding: 0 10px;
    }

    .iconsHome ul {
        gap: 1em;
    }

    .iconsHome ul svg {
        width: 50px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetosAgrupado {
        gap: 10px;
        flex-direction: column;
    }

    .cardProjeto {
        width: 360px;
        height: 630px;
        justify-content: flex-start;

    }

    .imagemProjeto {
        width: 350px;
    }

    .projetos h1 {
        font-size: 35px;
    }

    .subProjetoh2 {
        font-size: 20px;
    }



    /* modal */
    .modalProjetosConteudo {
        max-width: 70%;
        height: 600px;
        overflow-y: auto;

    }

    .modalProjetosConteudo h1 {
        font-size: 40px;
    }

    .modalProjetosConteudo h2 {
        font-size: 20px;
    }

    .modalProjetosConteudo h3 {
        font-size: 20px;
    }

    .modalProjetosConteudo p {
        font-size: 15px;
    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* skills */

    .skills {
        padding: 20px 0px;

    }

    .skills .skillTitulo {
        font-size: 50px;
    }

    .skills ul {
        gap: 2em;
        flex-wrap: wrap;

    }

    .skills ul svg {
        width: 50px;

    }

    /* about Me */
    .aboutMe {
        padding: 20px;
    }

    .aboutMeAgrupado {
        padding: 30px;
        flex-direction: column;

    }

    .aboutMe h1 {
        font-size: 50px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 350px;
    }

     /* contato */

    .contatoH1 {
        font-size: 50px;
    }

    .contatoH2 {
        font-size: 20px;
    }

    .contato img {
        width: 400px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 420px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 100%);
    }
 
    .contato h3{
        text-align: center;
         font-size: 25px;
    }

    .cardContato svg{
         width: 40px;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

     .cardContato h1 {
 font-size: 17px;
    }
     .cardContato h2 {
 font-size: 16px;
    }

       /* Footer */

     footer{
        flex-direction: column;
            background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
     }

     footer img {
    width: 130px;
     }

     footer .footerAgrupado h1{
        font-size: 25px;
     }

     footer .footerAgrupado p{
        font-size: 18px;
     }

     .footerAgrupado {
    padding: 10px;

}

}

@media screen and (max-width: 440px) {

    /* header */
    .containerHeader {
        max-width: 400px;
        padding: 10px 0;
        justify-content: space-around;
        gap: 1em;
    }

    .nome-header {
        font-size: 25px;
        text-align: left;
    }

    header ul {
        gap: 40px;
    }

    .btn-tema {
        width: 40px;
        height: 40px;
    }

    .containerHeader ul {
        display: none;
    }

    /* home */

    .home {
        margin-top: 30px;
    }

    .homeAgrupado {
        gap: 5px;
    }

    .imagemHome {
        width: 150px;
        padding: 0px;
    }

    .textoHomeAgrupado h1 {
        font-size: 33px;
    }

    .textoHomeAgrupado h2 {
        font-size: 25px;
    }

    .textoHomeAgrupado h3 {
        margin-left: 0;
        font-size: 18px;


    }

    .textoHomeAgrupado p {
        margin-left: 0;
        font-size: 15px;
    }

    .home .destaqueHome {
        font-size: 15px;
        padding: 0 10px;
    }

    .iconsHome ul {
        gap: 1em;
    }

    .iconsHome ul svg {
        width: 40px;
    }

    /* projetos */
    .projetos {
        padding: 30px;
    }

    .projetosAgrupado {
        gap: 10px;
        flex-direction: column;
    }

    .cardProjeto {
        width: 330px;
        height: 600px;
        justify-content: flex-start;

    }

    .skillsProjetoAgrupado {
        gap: 5px;
    }

    .imagemProjeto {
        width: 330px;
    }

    .projetos h1 {
        font-size: 35px;
    }

    .subProjetoh2 {
        font-size: 20px;
    }

    .projetos .cardProjeto h1 {
        font-size: 25px;
    }

    .projetos .cardProjeto p {
        font-size: 18px;
    }

    /* modal */
    .modalProjetosConteudo {
        max-width: 70%;
        height: 600px;
        overflow-y: auto;

    }

    .modalProjetosConteudo h1 {
        font-size: 40px;
    }

    .modalProjetosConteudo h2 {
        font-size: 20px;
    }

    .modalProjetosConteudo h3 {
        font-size: 20px;
    }

    .modalProjetosConteudo p {
        font-size: 15px;
    }

    .modalProjetosConteudo::-webkit-scrollbar {
        width: 10px;
    }

    .modalProjetosConteudo::-webkit-scrollbar-track {
        background: transparent;
    }

    .modalProjetosConteudo::-webkit-scrollbar-thumb {
        background: var(--corLetra);
    }

    /* skills */

    .skills {
        padding: 20px 0px;

    }

    .skills .skillTitulo {
        font-size: 50px;
    }

    .skills ul {
        gap: 2em;
        flex-wrap: wrap;

    }

    .skills ul svg {
        width: 50px;

    }

    /* about Me */
    .aboutMe {
        padding: 20px;
    }

    .aboutMeAgrupado {
        padding: 30px;
        flex-direction: column;

    }

    .aboutMe h1 {
        font-size: 50px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .aboutMe .aboutMeAgrupado img {
        width: 330px;
    }

        /* contato */

    .contatoH1 {
        font-size: 50px;
    }

    .contatoH2 {
        font-size: 20px;
    }

    .contato img {
        width: 400px;
    }

    .aboutMe p {
        font-size: 20px;
    }

    .cardContato {
        width: 390px;
        background: linear-gradient(90deg, var(--backgroundLinkContato) 0%, var(--backgroundLinkContato) 100%);
    }
 
    .contato h3{
        text-align: center;
        font-size: 25px;
    }

    .cardContato svg{
         width: 40px;
    }

    .contatoAgrupado {
        gap: 0em;
        flex-direction: column;
    }

   .cardContato h1 {
 font-size: 17px;
    }
     .cardContato h2 {
 font-size: 16px;
    }

          /* Footer */

     footer{
        flex-direction: column;
            background: linear-gradient(45deg, var(--backgroundFooter2), var(--backgroundFooter2), var(--background2), var(--backgroundFooter));
     }

     footer img {
    width: 130px;
     }

     footer .footerAgrupado h1{
        font-size: 25px;
     }

     footer .footerAgrupado p{
        font-size: 18px;
     }

     .footerAgrupado {
    padding: 5px;

}

}